In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("../Temperature.csv")

In [14]:
df['year']= pd.DatetimeIndex(df['dt']).year

In [15]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,year
0,1980-01-01,0.533,0.650,Afghanistan,1980
1,1980-02-01,2.050,0.473,Afghanistan,1980
2,1980-03-01,8.180,0.235,Afghanistan,1980
3,1980-04-01,17.357,0.200,Afghanistan,1980
4,1980-05-01,21.573,0.319,Afghanistan,1980

In [5]:
df_redidf.groupby(['year','Country'])['AverageTemperature'].max().reset_index()

NameError: name 'df_redidf' is not defined

In [ ]:
df.groupby(['year','Country'])['AverageTemperature'].min().reset_index()

In [ ]:
df.groupby(['year','Country']).agg({'AverageTemperature': ['mean', 'min', 'max']}).reset_index()

In [16]:
df_aggre = df.groupby(['year','Country']).agg({'AverageTemperature': ['mean', 'min', 'max']}).reset_index()
df_aggre = df_aggre.set_index(['year','Country'])
df_aggre.columns = df_aggre.columns.droplevel(0)
df_aggre = df_aggre.reset_index()
# tmp.columns = tmp.columns.droplevel(0)

In [18]:
df_aggre.to_csv("tempData_Aggretate.csv", encoding='utf-8', index=False)